<div class="news">
  {% if site.news != blank %}
    {% assign news_size = site.news | size %}
    {% assign news = site.news | reverse %}
    {% if include.limit and page.announcements.limit %}
      {% assign news_limit = page.announcements.limit %}
    {% else %}
      {% assign news_limit = news_size %}
    {% endif %}
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
        {% for item in news limit: news_limit %}
          <tr {% if forloop.index > 5 and news_size > 5 %}class="news-hidden" style="display: none;"{% endif %}>
            <th scope="row" style="width: 20%">{{ item.date | date: '%b %d, %Y' }}</th>
            <td>
              {% if item.inline %}
                {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
              {% else %}
                <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
    {% if news_size > 5 %}
      <div class="text-center mt-2">
        <button class="btn btn-link show-more-btn" data-target="news" onclick="toggleShowMore(this, 'news-hidden')">
          Show more <i class="ti ti-chevron-down"></i>
        </button>
      </div>
    {% endif %}
  {% else %}
    <p>No news so far...</p>
  {% endif %}
</div>
